
* {

   padding: 0;
   margin: 0;
   box-sizing: border-box;

}

/* landing section */
#landing {

	background:
	linear-gradient(
 
        rgba(77, 31, 0, 0.75),
        rgba(0, 0, 0, 0.75)
		),

	url(https://images.pexels.com/photos/2884/building-vintage-bike-monument.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;

}

/* contact */

#contact {

	background:
	linear-gradient(
 
        rgba(77, 31, 0, 0.75),
        rgba(0, 0, 0, 0.75)
		),

	url(https://images.pexels.com/photos/92866/pexels-photo-92866.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;

}


/* google map */
#gMap {

	width: 100%;
	display: block;
	border: none;
	height: 70vh;
	border-radius: 10px;

}